{% extends "base_layout.html" %}
{% block title %}Article List{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h1>Article List</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'articles:create' %}" class="create-btn">Create article</a>
    {% endif %}
    <div class="articles">
        {% for element in articles %}
        <div class="article__item">
            {% if element.thumbnail %}
            <img src="{{ element.thumbnail.url }}" alt="{{ element.title }}">
            {% endif %}
            <div class="article__item-body">
                <h2>
                    <a href="{% url 'articles:article_detail' slug=element.slug %}">
                        {{ element.title }}
                    </a>
                </h2>
                <p>{{ element.snippet }}</p>
                <time>{{ element.date }}</time>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}